main .container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

main .avatar {
    max-width: 256px;
}

main .avatar img {
    display: inline-block;
    max-width: 100%;
}

main .bio {
    max-width: 512px;
}

ul {
    padding: revert;
    margin: revert;
}